<div class="card">
  <div class="card-header">
    Informacion
  </div>
  <div class="card-body">
    <h5 class="card-title">Esto lo debes de saber</h5>
    <p class="card-text">La mejor manera de almacenar tus notas es a travez de nuestra plataforma.</p>
    <a href="#" class="btn btn-primary">Iniciar</a>
  </div>
</div>