<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Acerca</h5>
    <p class="card-text">Nuestra pagina web fue diseñada por uno de los mejores ingenieros que pudimos en contrar el es elton cruz un profesional al momento de crear apps con diferentes frameworks bla bla bla.</p>
    <a href="https://eltoncruz11.github.io/Portafolio.html" class="btn btn-primary">Ver portafolio</a>
  </div>
</div>
