{{#if error}}
<div class="espf alert alert-danger alert-dismissible fade show" role="alert">
   {{error}}
  <button type="button" class="btsmesn btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span arial-hidden="true" >&times;</span>
  </button>
</div>
{{/if}}


{{#each errores}}
<div class="espf alert alert-danger alert-dismissible fade show" role="alert">
   {{text}}
  <button type="button" class="btsmesn btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span arial-hidden="true" >&times;</span>
  </button>
</div>
{{/each}}